pkgbase = electron-xdg
	pkgdesc = Meta package providing the latest available stable Electron build - patched to support the xdg basedir spec
	pkgver = 29
	pkgrel = 1
	epoch = 1
	url = https://electronjs.org
	arch = any
	license = MIT
	depends = electron29-xdg

pkgname = electron-xdg
